<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <h2>Login com POST</h2>
    <form action="/login" method="post">
        <p>Login: <input type="text" name="email"></p>
        <p>Senha: <input type="password" name="senha"></p>
        <input type="submit" value="Login">
    </form>

    <h2>Divs</h2>
    <form action="/divs">
        <p>Quantidade de divs: <input type="number" name="qtde"></p>
        <input type="submit" value="Gerar divs com get" formmethod="get">
        <input type="submit" value="Gerar divs com post" formmethod="post">
    </form>
</body>

</html>