body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 233, 196);
}

.nome {
    font-size: 50px;
    margin: 50 0 50 0;
    text-align: center;
    color: green;
}

h2 {
    color: #117426d8;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
#curso {
    font-size: 15px;
    margin-top: 30px;
    text-align: left;
}

#curso ul {
    color: #285f21f8;
    list-style-type: square;
    font-size: 15px;
    margin: auto;
}

h3 {
    color: rgba(37, 119, 37, 0.753);
    font-size: 20px;
    margin-top: 30px; 
    text-align: left;
}

.link {
    font-size: 15px;
}

.link ul {
    color: #285f21f8;
    list-style-type: square;
    font-size: 15px;
    margin: auto;
}

.link a:hover {
    color: #06ce17;
    text-decoration: none;
}
.imgs {
    font-size: 15px;
    text-align: left;
}


img {
    width: 90px;
    height: 90px;
}

p {
    color: #064d5796;
}
