<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Realizado</title>
</head>
<body>
    <h2>Cadastro realizado com sucesso!</h2>
    <p>Nome: <%= nome %> <%= sobrenome %></p>
    <p>Data de Nascimento: <%= nascimento %></p>
    <p>Estado Civil: <%= civil %></p>
</body>
</html>
