body {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

.topo {
    background-color: bisque;
    border: solid 2px lightskyblue;
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.logo h1 {
    font-size: 25px;
    text-align: center;
    margin:auto;
    color: darkgreen;
}

.entradas {
    background-color: rgb(104, 171, 248);
    text-align: center;
}

.entradas ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

.entradas ul li {
    margin: 0 20px;
}

.selection a:visited {
    text-decoration: none;
}

.intro h2 {
    text-align: center;
    margin-top: 15px;
}

.intro p {
    text-align: center;
    color: indigo;
    margin: 20 0 15 0;
}

.livros {
    text-align: center;
    margin-top: 15px;
}

.livros-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.livros-content img {
    width: 180px;
    height: auto;
    border: 1px solid black;
}
.iframe  {
    text-align: center;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contatos {
    text-align: center;
    padding: 20px;
}

.contatos table {
    margin: 0 auto;
    text-align: center;
    border: dashed;
    color: red;
}

.contatos th, td {
    padding: 10px;
    border: 1px solid red;
}

.contatos td {
    color: black;
}


.sites {
    background-color: yellow;
    padding: 10px 20px;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    border: 1px solid yellow;
}

.sites ul li a {
    color: blue;
    text-decoration: none;
}


footer {
    background-color: bisque;
    text-align: center;
    padding: 20px;
    font-family: 'Comic Sans MS', sans-serif;    font-size: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.icons img {
    width: 80px;
}
