/* Formatação do corpo do site */ 
body {
    font-family: Arial, Helvetica, sans-serif; /* Alterando a fonte do site*/
    display: flex; /* Arrumando o display para modo flexível */
    flex-direction: column; /* Alterando a direção dos itens para coluna */
    align-items: center; /* Alinhando os itens no centro do corpo*/
}

/* Formatando a class da div */
.game {
    display: grid; /* Arrumando o display para modo gradeado */
    width: 800px; /* 40*20 */
    height: 800px; /* 40*20 */
    border: solid grey; /* Criando a bora do tabuleiro */
}

/* Utilizando a div criada no js */
.game div {
    width: 20px;
    height: 20px;
    border: solid lightblue;
    box-sizing: border-box; /* Calculando as dimensões de um elemento  */
}