body {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h3 {
    color: wheat;
    margin: 0;
    padding: 0;
}

.ponto {
    margin-top: -140px;
}

.botao {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a.bta {
    display: inline-block;
    padding: 20px 25px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    color: wheat;
    border-radius: 5px;
    text-align: center;
}

a.bta:hover {
    background-color: grey;
}

/* Estilo para o canvas */
#gameCanvas {
    border: 2px solid white;
    background-color: black;
}
