body {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h3 {
    color: wheat;
    margin: 0;
    padding: 0;
}

.ponto {
    margin-top: -140px;
}

/* Alinhando botões */
.botao {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Estilizando botões */
a.bta {
    display: inline-block;
    padding: 20px 25px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    color: wheat;
    border-radius: 5px;
    text-align: center;
}

/* Alterando a cor ao passar o mouse */
a.bta:hover {
    background-color: grey;
}

/* Estilo para o canvas */
#gameCanvas {
    width: 800px;   /* mesmo tamanho da antiga .game */
    height: 800px;  
    border: 2px solid wheat;
    background-color: #111; /* fundo escuro para destacar o jogo */
}
